<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TSMTeacher</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>InterTight-Bold.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>InterTight-Medium.ttf</string>
		<string>InterTight-Regular.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>TiroDevanagariHindi-Regular.ttf</string>
		<string>Quicksand-VariableFont_wght.ttf</string>
		<string>TiroDevanagariHindi-Italic.ttf</string>
	</array>
	<!-- CAMERA -->
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to capture photos for homework.</string>
	<!-- PHOTO LIBRARY (GALLERY PICK) -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photo library to select images.</string>
	<!-- PHOTO LIBRARY (SAVE - optional but recommended) -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos.</string>
	<!-- FILES / DOCUMENTS (PDF PICK) -->
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to files to upload PDF documents.</string>
	<!-- FILE ACCESS (iOS 11+) -->
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
